.container {
  height: 200vh;
  width: 100%;
  background-color: #001033;
  // background-color: rgb(81, 128, 172);

  scroll-behavior: smooth;

  font-family: "Montreal Regular", sans-serif;

  &_loading {
    position: relative;
    height: 50%;
    width: 100%;
    background-color: #001033;
    z-index: 1;
  }

  &_footer {
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    background-color: white;
  }
}
