.falling-leaves {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 100%;
  height: 200%;

  overflow: hidden;
  z-index: 1;
  mask-image: linear-gradient(to bottom, black 75%, transparent 100%);

  &::after {
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    position: absolute;
    z-index: 1;
  }
}

.leaf-scene {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  transform-style: preserve-3d;
  z-index: 0;
}

.leaf-scene div {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("../public/images/leaf.svg") no-repeat;
  background-size: 100%;
  transform-style: preserve-3d;
  backface-visibility: visible;
}
