.container {
  position: relative;
  height: 50%;
  width: 100%;
  background: url(../public/images/backgroundB.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  z-index: 2;

  &_wrapper {
    height: 60%; //main height for wrapper and cards
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &_borders {
      height: 100%;
      width: 80%;
      border: 2px solid #724753;
      position: absolute;
      top: 0;
      left: 10%;
      backdrop-filter: blur(5px);
      z-index: 1;

      > li {
        all: unset;
      }
    }

    &_bCards {
      height: calc(100% - 2px);
      width: 79.7%;
      overflow: hidden;
      position: absolute;
      // border: 1px solid white;
      display: flex;
      gap: 2%;
      z-index: 2;

      > div {
        position: absolute;
        top: 13.65%;
        left: -9.5%;
        width: 119%;
        height: 73.35%;
        // border: 2px solid red;
        display: flex;
        gap: 2.5%;

        > li {
          all: unset;
          width: 25%;
          height: 100%;
          top: 0;
          left: 0;

          display: flex;
          flex-direction: row;

          // border: 1px solid green;
          position: relative;
          z-index: 0;

          // &:hover {
          //   z-index: 0;
          //   &::after {
          //     display: block;
          //   }
          // }

          & > div {
            content: "";
            position: absolute;
            display: block;
            top: -18.5%;
            left: -25%;
            width: 150%;
            height: 136.25%;

            opacity: 0;
            transition: all 1s ease-in-out;

            &::after {
              content: "";
              position: absolute;
              top: -100%;
              right: 0;
              width: calc(50% - 2px);
              height: 100%;
              border-right: 2px solid #724753;
              background: url("../public/images/bgTile.png");
              background-position: left;
              background-size: cover;
              transform: translate(0, 0);
              transition: all 1s ease-in-out;
              transition-timing-function: cubic-bezier(0.59, 0.01, 0, 1);
            }

            &::before {
              content: "";
              position: absolute;
              bottom: -100%;
              left: 0;
              width: calc(50% - 2px);
              height: 100%;
              border-left: 2px solid #724753;
              background: url("../public/images/bgTile.png");
              background-position: right;
              background-size: cover;
              transform: translate(0, 0);
              transition: all 1s ease-in-out;
              transition-timing-function: cubic-bezier(0.59, 0.01, 0, 1);
            }
          }

          &.hover > div {
            opacity: 1;

            z-index: 4;

            transition: all 1s ease-in-out;

            &::before {
              transform: translateY(-100%);
            }

            &::after {
              // cubic-bezier(0.59, 0.01, 0, 1.04)
              transform: translateY(100%);
            }
          }
        }
      }
    }

    &_cards {
      height: 72.5%;
      width: 95%;

      position: relative;
      display: flex;
      gap: 2%;

      li:nth-of-type(1) .image {
        background: url(../public/images/navBg1.png);
        background-position: left;
        background-size: 300%;
        background-repeat: no-repeat;
      }
      li:nth-of-type(2) .image {
        background: url(../public/images/navBg2.png);
        background-position: left;
        background-size: 300%;
        background-repeat: no-repeat;
      }
      li:nth-of-type(3) .image {
        background: url(../public/images/navBg3.png);
        background-position: right;
        background-size: 300%;
        background-repeat: no-repeat;
      }
      li:nth-of-type(4) .image {
        background: url(../public/images/navBg4.png);
        background-position: right;
        background-size: 300%;
        background-repeat: no-repeat;
      }

      > li {
        all: unset;
        width: 25%;
        height: 100%;
        border: 2px solid #a36676;
        background-color: #6d324871;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        z-index: 3;
        backdrop-filter: hue-rotate(0deg) blur(5px);
        transition: 0.75s backdrop-filter 0.25s ease-in-out,
          height 0.5s ease-in-out;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 45%;
          width: 10%;
          height: 100%;
          border-bottom: 2px solid #dda5b6;
          transition: all 0.5s ease-in-out;
        }

        &:hover {
          cursor: pointer;
          backdrop-filter: hue-rotate(50deg) blur(5px);
          height: 135%;
          &::after {
            left: 25%;
            width: 50%;
            border-bottom: 2px solid #dda5b6;
          }
          > .image {
            height: calc(71% + 2px);

            &::after {
              bottom: -8vh;
            }
          }

          > .title {
            height: calc(29% - 1.5vh);

            > p {
              color: #dda5b6;
            }
          }
        }

        & > .icon {
          width: 50%;
          height: fit-content;
          position: relative;

          margin-top: 6vh;
          margin-bottom: auto;

          &::before {
            content: "";
            display: block;
            position: relative;
            width: 8%;
            height: 3%;
            margin: 0 auto 3vh auto;
            background-color: #b58591;
            /* HTML: <div class="triangle"></div> */
            aspect-ratio: 1 / cos(30deg);
            clip-path: polygon(50% 100%, 100% 0, 0 0);
          }

          &::after {
            content: "";
            display: block;
            position: relative;
            width: 0.5vh;
            height: 0.5vh;
            margin: 3vh auto 0 auto;
            background-color: #b58591;
            border-radius: 50%;
          }
          > svg {
            width: 100%;
            height: 15vh;
            fill: #b58591;
          }
          // background-size: contain;
          // background-repeat: no-repeat;
        }

        > .image {
          position: absolute;
          top: 1.5vh;
          left: 5%;
          width: 90%;
          height: 0;
          overflow: hidden;

          transition: all 0.5s ease-in-out;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 8vh;
            backdrop-filter: blur(5px);
            transition: 0.5s all 0.1s ease-in-out;
          }
        }

        > .title {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: calc(45% - 1.5vh);
          gap: 2vh;
          transition: all 0.5s ease-in-out;
          > h1 {
            color: #ede0e4;
            font-size: calc(0.25em + 1vh);
            letter-spacing: 0.1em;
            font-weight: 10 !important;
          }
          > p {
            color: #8e54d0;
            letter-spacing: -0.05em;
            font-size: calc(0.2em + 1vh);
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes fade-in-right {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(50%, -50%);
  }
}
@keyframes fade-in-left {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-50%, 50%);
  }
}

.leaves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
